body {
  font-family: Arial;
  text-align: Justify;
  background: #B5E4FF fixed center;
  margin-left: 50px;
  margin-right: 500px;
}

table {
  border: 2px solid blue;
  border-collapse: collapse;
  
}
td{
  border: 2px solid blue;
  padding: 5px
}

h1 {
  color: #00A2FF;
  text-align: Center;
  font-weight: bold;
  
}

h2 {
  color: #007ED0;
  text-align: Center;
}

h3 {
  color: #007ED0;
  text-align: left;
}

