body {
  font-family: Arial;
  text-align: Justify;
}

h1 {
  color: blue;
  text-align: Center;
  
  
}

h2{
  color: darkgreen;
  text-align: Center;
}

h3{
  color: darkgreen;
  text-align: left;
}
