body {
  font-family: Arial;
  text-align: Justify;
  background: #B5E4FF fixed center;
  margin-left: 50px;
}


h1 {
  color: #00A2FF;
  text-align: Center;
  
  
}

h2 {
  color: #007ED0;
  text-align: Center;
}

h3 {
  color: #007ED0;
  text-align: left;
}

